html, body {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
  }
  
  body {
    background: -webkit-linear-gradient(to left, #53A62D, #3cb9ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #53A62D, #3cb9ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color:#FFFFFF;
}


p {
    
   text-align: center;
   
    font-size: 30px;
    font-weight: 400px;
    color:#FFFFFF;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin-left: 35%;
    margin-right:35%;
}



  #aboutButton {
    position:absolute;
    top:10%;
    right:5%;
    text-align: center;
    background-color: #3cb9ff;
    padding: 30px 30px 30px 30px;
    color:#FFFFFF;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size:18px;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  
  #aboutButton:hover{
    position:absolute;
    text-decoration:none;
    top:10%;
    right:5%;
    text-align: center;
    background-color:#EAF2CE;
    padding: 30px 30px 30px 30px;
    color:darkblue;
    border-radius: 30px;
    font-size:18px;
  }
  